.header {
	position: fixed;
	z-index: 599;
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: 2px solid rgb(228, 217, 217);
	background-color: white;
	
}


.logo25nwa8087.png {
	transition: all 0.3s;
	transform: translate(-5rem);
}


.nav {
	display: flex;
    align-items: center;
    justify-content: center;
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-weight: bolder;
	font-size: 17px;
}


.nav__link:link,
.nav__link:visited {
	color: #252527;
	text-decoration:none;
	transition: all 0.3s;
}


.nav__link:hover,
.nav__link:active {
	color: #333333;
}


ul {
	margin:0px;
	padding:0px;
    overflow:hidden;
}


li {
	float: right;
	display: inline;
}


li a {

	display: block;
	background-color: white;
	padding:8px;
	float: right;
	margin-right:11px;
	margin-left:11px;
	margin-top: 35px;
	margin-bottom: 25px;
}


#hero-image {
	background-image:url("bsd bckgrnd.jpg");
	height:565px;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	position: relative;
	margin-top: 96px;
	margin-bottom: 50px;
	
}


#hero-text {
	text-align:center;
	position:absolute;
	top:65%;
	left:50%;
	transform:translate(-50%, -50%);
	color:black;

}



/* GENERAL ELEMENTS */

.section {
	padding-top: px;
	border-top: 1px solid #ddd;
    
	transition: transform 1s, opacity 1s;
  }
  

.section--hidden {
	opacity: 0;
	transform: translateY(8rem);
  }



.btn {
	display: inline-block;
	background-color: var(--color-primary);
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
	border: none;
	padding: 1.25rem 4.5rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: all 0.3s;
  }



.btn:hover {
	background-color: var(--color-primary-darker);
  }
  


.btn--text {
	display: inline-block;
	background: none;
	font-size: 1.7rem;
	font-family: inherit;
	font-weight: 500;
	color: var(--color-primary);
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
  }



.about {
	background-color:teal;
	background-size: 425px;
	width:960px;
	height:425px;
	border-radius:20px;
	margin-bottom:120px;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 70px;
	padding-left:75px;
	padding-right: 0px;
	padding-bottom: 75px;
	padding-top: 10px;
	border: 30px;
}



.features  {
	display: grid;
    grid-template-columns: 450px 450px;
    gap: 20px;
    margin:5px;
}



.features-images {
	display: grid;
	grid-template-columns: 225px 225px;
	row-gap: 50px;
	column-gap: 10px;
	margin-top: 10px;
}



.features-text {
	align-content: center;
	display: grid;
	row-gap: 15px;
	font-size: 18px;
}


#section_title {
	width:900px;
	height:425px;
	display:grid;
	grid-template-columns:7rem 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	position: relative;
	transition: 5s;
}


.p1 {
	float: right;
	padding: 10px;
}


p {
	font-size:18px;
}


h2 {
	transition: all 5s;
	font-size: 27px;
}


h3 {
	color:black;
	text-align:center;
	font-size:42px;
	padding:10px;
	padding-top:65px;
	margin-top: 42px;
	margin-bottom: 42px;
}


blockquote {
	position:center;
	background-color:teal;
	margin: 50px;
	padding:40px;
	border-radius:10px;
}


#tagline {
	width: 1100px;
	height: 300px;
	padding-bottom: 80px;
	padding-top: 0px;
	position: relative;
	transition: 5s;
}


h5 {
	font-size: 50px;
	position: absolute;
	animation-timing-function: ease-in;
	animation-duration: 2s;
	flex-wrap: wrap;
	height: 375px;
	text-orientation: upright;
	text-decoration-style: solid;
	width: 550px;
	justify-content: center;
	margin-left: 115px;
	transition: 5s;

}


h4 {
	font-size: 23px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	transition: 5s;
	
}


#sm-icons {
	width:35%;
	height:350px;
	display:grid;
	grid-template-columns:100px 100px 100px;
	grid-template-rows:100px 100px 100px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	padding-bottom: 200px;
	margin-left: 800px;
	position: absolute;
	transition: 5s;
	margin-top: px 
	
}




/* Slideshow container */

.slideshow-container {
  background: #f1f1f1f1;
  background-image:url(steve-johnson-unsplash.jpg) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
}



/* Slides */

.mySlides {
  display: none;
  padding: 120px;
  text-align: center;
}



/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}



/* Position the "next button" to the right */
	
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

q {
	font-size: 20px;
}


/* FOOTER */

.footer-area {
 background-color:#252527 ;
	
}
.footer {
	padding:25 70 8.5 48px;
	background-color: #252527;
	width: px;
	height: 275px;
	background-size: cover;
  }
  
  .footer__nav {
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	background-color: #252527;
  }
  
  .footer__item {
	margin-right: 4rem;
	background-color: #252527;
  }
  
  .footer__link {
	font-size: 17px;
	color: antiquewhite;
	text-decoration: none;
	background-color: #252527;
  }
  
  .footer__copyright {
	font-size: 17px;
	color: #aaa;
	text-align: left;
	margin-top: 100px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
  }
  
  .footer__copyright .footer__link {
	font-size: 17px;
  }
  
  .made-in-south-africa.png {
	float: right;
	padding-left: 500px;
  }



